APIFY_TOKEN=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

CONFIG_BACKEND=local
STORAGE_BACKEND=sqlite

GITHUB_ACTIONS_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_WORKFLOW_FILE=job_pipeline.yml